.bg-main {
    display: block;
    margin: 0 auto;
}
.img-main {
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 200px;
}
.img-colors {
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}
.bg-image {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
}
.main-section {
    display: flex;
    justify-content: center;
    border-radius: 2px;
    font-family: 'Caveat', cursive;
    background-color: #6bc3f335;
}
.block-card {
    margin: 50px;
    border: 2px solid #eee;
    padding-bottom: none;
    display: block;
    max-height: 1000px;
    height: auto;
    max-width: 500px;
    width: auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(238, 238, 238, 0.355);
    background-color: rgba(85, 175, 224, 0.302);
}
.plan-section {
    font-family: 'Caveat', cursive;
    height: 50vh;
    border-top: 2px solid #eee;
    background: linear-gradient(360deg,rgba(222, 222, 222, 0.3) 0%,rgba(0, 166, 255, 0.345) 100%);;
}
.plan-text {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: auto;
    height: auto;
    padding: auto;
    padding-top: 2%;
    padding-bottom: 10%;
    text-align: center
}
.dress-code-section {
    height: 60vh;
    border-top: 1px solid rgb(243, 243, 243);
    background: linear-gradient(360deg,rgba(0, 166, 255, 0.345) 0%,rgba(222, 222, 222, 0.3) 100%);
}
.dress-code-block {
    border: 1px solid #eee;
    height: auto;
    width: 450px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgb(238, 238, 238);
    background: rgba(255, 255, 255, 0.417);
}
.dress-code-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    width: auto;
    height: auto;
    padding: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;
    font-family: 'Caveat', cursive;
}
.dress-code-image-section {
    height: 40vh;
    background:rgba(0, 166, 255, 0.345);
    height: 100%;
    border: 2px solid #b3b7ba57;
    box-shadow: 0 5px 5px 2px rgb(238, 238, 238);
}
.dress-code-image-block {
    padding: 8%;
    text-align: center;
    height: auto;
    display: block;
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.417);
}
.img-dress-code {
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
    border-radius: 5%;
    box-shadow: 0 31px 13px 10px rgba(39, 43, 47, 0.208) ;
}
.text-card {
    display: inline-block;
    padding: 2px 20px 2px;
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}
.text-card-line {
    display: inline-block;
    padding: 2px 20px 2px;
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #2f343781;
}
.info-section {
    font-family: 'Caveat', cursive;
    height: 38vh;
    border-top: 1px solid #00a6ff06;
    background: rgba(0, 166, 255, 0.345);
}
.question-section {
    font-family: 'Caveat', cursive;
    height: 40vh;
    border-top: 2px solid #f8f8f82e;
    background: rgba(222, 222, 222, 0.3);
}
.active-block {
    border: 1px solid #eee;
    height: auto;
    width: 450px;
    margin: auto;
    margin-top: 20%;
    border-radius: 15px;
    box-shadow: 0 1px 8px 0 #eee;
    background: rgba(255, 255, 255, 0.856);
}
.end-section {
    font-family: 'Caveat', cursive;
    height: 100%;
    border-top: 2px solid #eee;
    background: #dedede4d;
}
.todo-block {
    border: 1px solid #eee;
    height: 20vh;
    width: 450px;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 15px;
    box-shadow: 0 2px 8px 0 #eee;
    background: rgba(92, 185, 243, 0.197);
}
.question-block {
    border: 1px solid #eee;
    height: auto;
    width: 450px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0 2px 8px 0 #eee;
    background: rgba(92, 185, 243, 0.197);
}
.question-text {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: auto;
    height: auto;
    padding: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center
}
.question-text {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: auto;
    height: auto;
    padding: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center
}
.todo-text {
    text-transform: uppercase;
    display: block;
    letter-spacing: 3px;
    width: auto;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center
}
.todo-button {
    margin-top: 5px;
    text-align: center;
    display: block;
    width: 250px;
    height: auto;
    margin: 0 auto;
    border: none;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(30, 144, 255, 0.1);
    background-color: rgba(30, 143, 255, 0.394);
    transition: all .25s ease;
}
.todo-button:hover {
    background-position: 0 0;
    color: rgba(30, 143, 255, 0.394);
    background-color: #fff;
}
.question-button {
    margin-top: 5px;
    text-align: center;
    display: block;
    width: 250px;
    height: auto;
    margin: 0 auto;
    border: none;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(30, 144, 255, 0.1);
    background-color: rgba(30, 143, 255, 0.394);
    transition: all .25s ease;
}
.question-button:hover {
    background-position: 0 0;
    color: rgba(30, 143, 255, 0.394);
    background-color: #fff;
}
.f-conteiner {
    display: flex;
    box-sizing: border-box;
    border-top: 2px solid rgba(49, 155, 241, 0.253);
    background: rgb(31,22,22);
    background: linear-gradient(0deg, rgba(201, 189, 189, 0.503) 0%, rgba(0,178,255,0.4472163865546218) 100%);
}
.f-block {
    height: 30vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.s-icons {
    color: white;
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}
.names-sign {
    margin: auto;
    max-width: 180px;
    max-height: 80px;
    display: flex;
}  
.logo {
    height: 12%;
    width: 12%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
    position: relative;
}
.sign {
    justify-content: center;
    text-align: center;
    position: relative;
    display: inline-block;
    height: 1%;
    width: 100%;
    color: rgba(37, 38, 38, 0.872);
}
.adress-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    width: auto;
    height: auto;
    padding: auto;
    margin-top: 4%;
    text-align: center
}

@media (min-width: 500px) and (max-width: 3000px) {
    .bg-main {
        height: 40vh;
        background:rgba(0, 166, 255, 0.225);
        height: 100%;
        border: 2px solid #b3b7ba57;
        box-shadow: 0 5px 5px 2px rgb(238, 238, 238);
    }
    .bg-main-image {
        max-width: 80%;
        max-height: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        box-shadow: 0 15px 10px 10px rgba(39, 43, 47, 0.208) ;
    }
    .active-block {
        margin-top: 5%;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    .bg-image {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .bg-main {
        max-width: 100%;
        max-height: 100%;
    }
    .plan-text {
        padding-top: 10%;
    }
    .todo-section {
        max-width: 100%;
        max-height: 550px;
    }
    .text-card-line {
        max-width: 80%;
    }
    .text-card {
        padding: 5px 5px 10px 10px;
        max-width: 100%;
        margin: auto;
    }
    .todo-block {
        max-width: 80%;
    }
    .question-block {
        max-width: 80%;
    }
    .dress-code-block{
        max-width: 80%;
    }
    .todo-text {
        max-width: 80%;
        margin: auto;
    }
    .todo-button {
        max-width: 80%;
    }
    .question-button {
        max-width: 50%;
    }
    .logo {
        width: 20%;
        margin: auto;
    }
    .sign {
        display: inline-block;
        margin: auto;
        position: relative;
        padding-top: 5%;
    }
    .active-block {
        max-width: 80%;
    }
    .names-sign {
        position: relative;
        display: flex;
        max-width: 380px;
        max-height: 80px;
    }
    .f-block {
        display: inline-block;
    }
}